fastapi
uvicorn[standard]
motor
python-dotenv
pydantic[email]
pydantic-settings
passlib[bcrypt]
PyJWT
fastapi-mail
python-multipart
email-validator
bcrypt==4.2.0
cloudinary
python-jose[cryptography]
pandas
openpyxl
reportlab
google-auth>=2.0.0
requests>=2.31.0
